body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #cccccc; }
  body h1 {
    text-decoration: underline;
    color: #c4c1f1; }

a {
  color: #00b7af;
  font-weight: bold; }
