<!DOCTYPE HTML>
<!-- [if IE 8]><html class="ie8"><![endif]-->
<!-- [if IE 9]><html class="ie9"><![endif]-->
<!-- [if gt IE 9]><!-->
<html>
<!-- <![endif]-->

<head>
	<meta content="App" name="Name" />
	<meta content="App" name="Short_Name" />
	<meta content="https://www.hl.co.uk/my-accounts/header/app" name="Url" />
	<meta content="" name="Description" />
	<meta content="Hargreaves,Lansdown" name="Keywords" />
	<meta content="" name="THUMBNAIL_URL" />
	<meta content="2016-12-08" name="Published_Date" />
	<meta content="noindex, follow" name="robots" />
	<title>Transfer your ISA to HL - {{title}}</title>
	<link rel="apple-touch-icon-precomposed" href="https://www.hl.co.uk/apple-touch-icon-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.hl.co.uk/touch-icon-ipad-retina-precomposed.png" />
	<meta name="apple-mobile-web-app-title" content="HL.co.uk">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<!--  CSS -->
	<link rel="stylesheet" type="text/css" href="stylesheets/12479518.css" media="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Cache-control" content="no-cache">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css" media="all" />
	<link rel="stylesheet" type="text/css" href="stylesheets/application-form.css" media="all" />
	<link rel="stylesheet" type="text/css" href="stylesheets/impromptu.css" media="all" />
  <link rel="stylesheet" type="text/css" href="stylesheets/shame.css" media="all" />

  <link rel="stylesheet" type="text/css" href="stylesheets/accessible-autocomplete.css" media="all" />

</head>
<body>
  <script type="text/javascript" src="javascripts/accessible-autocomplete.js"></script>
	<!-- HEADER -->
	<div id="cms-header">
		<div class="row">
			<div class="column large-6 medium-6 small-4 cms-header-logo">
				<a href="/"><img src="https://www.hl.co.uk/__data/assets/image/0004/12489295/hl-logo-white.png" alt="" /></a>
			</div>
			<div class="column large-6 medium-6 small-8">
				<div class="cms-header-title">Transfer a Stocks and Shares ISA to HL</div>
				<div class="cms-header-secure"> <span class="cms-header-secure-text">Secure application</span> </div>
			</div>
		</div>
	</div>
	<!--  BREADCRUMBS -->
	<div id="application-steps" class="application-steps show-for-large">
		<div class="row">
			<ul>
				<li class="completed narrow"><span></span>Declarations</li>
				<li class="narrow current"><span></span>Personal details</li>
				<li class="narrow"><span></span>Investment options</li>
				<li class="narrow"><span></span>Open account</li>
				<li class="narrow"><span></span>Account options</li>
			</ul>
		</div>
	</div>
	<!-- main-navigation -->
	<div id="application-steps-mob" class="hide-for-large">
		<div class="column small-6 step-name"><span style="min-width: 8em; display:block;">Personal Details</span></div>
		<div class="column small-6 step-numbers"><span>Step 1 of 5</span></div>
	</div>
	<div id="main-wrapper" class="main-wrapper">
		{{{body}}}
    <div class="row white-bg" style="background-color:#f0f0f0;; padding:20px 0;">
  		<div class="column large-10 large-offset-1">
            <p style="margin-bottom:0;">Our website offers information about investing and saving, but not personal advice. If you're not sure which investments are right for you, please request advice, for example from our <a href="https://www.hl.co.uk/financial-advice">financial advisers</a>. If you decide to invest, read our <a href="https://www.hl.co.uk/important-investment-notes">important investment notes</a> first and remember that investments can go up and down in value, so you could get back less than you put in.</p>
      </div>
    </div>
	</div>
	<!-- main-wrapper -->
</body>
</html>
