<!DOCTYPE html>
<html>
<head>

	<style media="screen">
	ul.waist-list {
	 margin-left: 2.5rem; }
	 ul.waist-list li {
	   margin: 1em 0 1em 0;
	   padding: 0;
	   list-style-type: none;}
	   ul.waist-list li .icon.blue-tick-icon {
	     position: absolute;
	     margin-left: -1.6em;
	     margin-top: 0.2em; }
	</style>
	<title></title>
</head>
<body>
	<form action="details" class="application-form" id="application-form" method="get" name="application-form">
		<input name="isa_provider" type="hidden" value="{{provider}}"> <input name="isa_reference" type="hidden" value="{{reference}}"> <input name="isa_transfer_type" type="hidden" value="{{transfer_type}}">
		<div class="row white-bg">
			<div class="column large-10 large-offset-1">
				<h2>Transfer a Stocks and Shares ISA to HL</h2>
				<h3 class="legend-esque">What you need to have to hand</h3>
        <div class="reading-width" style="padding: 32px 21.1167px;" >
          <p class="psudo-list"><span class="psudo-bullet--smaller"></span> Name of your ISA provider</p>
          <p class="psudo-list"><span class="psudo-bullet--smaller"></span> Your account reference number</p>
          <!-- <p class="psudo-list"><span class="psudo-bullet">1</span> Your account reference number</p> -->
        </div>
        <h3 class="legend-esque">What you need to know</h3>
        <div class="reading-width" style="padding: 32px 21.1167px;" >
          <p class="psudo-list"><span class="psudo-bullet">1</span> You’ll be transferring your entire ISA.</p>
          <p class="psudo-list"><span class="psudo-bullet">2</span> You can choose how we transfer your ISA – as it is, or by selling your investments first, then transferring the cash.</p>
          <div style="margin-left:3.5rem; margin-bottom:24px">
            <p class="psudo-list"><span class="psudo-bullet--smaller"></span> While we’re transferring investments, it won’t be possible to buy or sell them.</p>
            <p class="psudo-list"><span class="psudo-bullet--smaller"></span> If you decide to sell investments first, then transfer cash, you won’t gain or lose from market changes until you’ve reinvested your money.</p>
          </div>
          <p class="psudo-list"><span class="psudo-bullet">3</span> Before you transfer an ISA make sure you’ve read and understood</p>
          <div style="margin-left:3.5rem; margin-bottom:24px">
            <p class="psudo-list"><span class="psudo-bullet--smaller"></span><a href="https://www.hl.co.uk/__data/assets/pdf_file/0013/37120/Vantage_Key_Features.pdf"><strong>ISA Key Features</strong></a></p>
            <p class="psudo-list"><span class="psudo-bullet--smaller"></span><a href="https://www.hl.co.uk/__data/assets/pdf_file/0015/37122/Online-Ts-and-Cs.pdf"><strong>Our terms and conditions</strong></a>, including charges</p>
            <p class="psudo-list"><span class="psudo-bullet--smaller"></span><a href="https://www.hl.co.uk/important-investment-notes"><strong>Investment risks</strong></a></p>
          </div>
        </div>
        <style media="screen">
          .psudo-list {
            margin-left: 2.5rem;
            position: relative;
          }
          .psudo-bullet,
          .psudo-bullet--smaller {
            width: 25px;
            height: 25px;
            display: inline-block;
            text-align: center;
            background-color: #00adee;
            color: #ffffff;
            border-radius:50%;
            position: absolute;
            left: -2.75rem;
            top: -2px;
            line-height: 27px;

            /* margin-left: -2.5rem; */
          }
          .psudo-bullet--smaller {
          	width: 10px;
          	height: 10px;
          	background-color: #ffffff;
          	top: 4px;
          	border: 3px solid #00adee;
          	left: -36px;
          }
        </style>
				<div class="divider"></div>
			</div>
			<div class="buttons">
				<div class="row form-row">
					<div class="column large-5 medium-6 small-4 large-offset-1 cancel">
						&nbsp; <!--<a class="cancel" id="application-back-button" onclick="parent.history.back()">Cancel</a>-->
					</div>
					<div class="column large-5 medium-6 small-8 end continue">
						<button class="submit" id="application-submit-button" type="submit">Start now</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>
