<form action="details" method="get" class="application-form" id="application-form">
<div class="row white-bg">
  <div class="column large-10 large-offset-1">

    <div class="success">
      <div class="success__header">
        <h3>
          <svg style="fill: #fff; position: relative; top: 5px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM9.29 16.29L5.7 12.7c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L10 14.17l6.88-6.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-7.59 7.59c-.38.39-1.02.39-1.41 0z"/></svg>
          We have your ISA transfer request
        </h3>
      </div>
        <table style="margin-bottom:3px!important;">
          <tr>
            <th>Provider</th>
            <td>{{provider}}</td>
          </tr>
          <tr>
            <th>Account reference</th>
            <td>{{reference}}</td>
          </tr>
          <tr style="border-bottom:none;">
            <th>Transfer type</th>
            <td>{{transfer_type}}</td>
          </tr>
        </table>
    </div>
    <p>We've sent a confirmation email to <strong>email@email.com</strong>.</p>
    <h3>What happens next</h3>
    <p>We'll contact your provider to arrange your transfer. </p>
    <p>As soon as your ISA is here, we'll let you know.</p>
    <div class="divider"></div>

</div>
<div class="buttons">
  <div class="row form-row">
    <div class="column large-5 medium-6 small-4 large-offset-1 cancel"> &nbsp;
      <a class="cancel" id="application-back-button" href="https://www.hl.co.uk/investment-services/vantage-service/transferring-your-existing-investments/transfer-now">Transfer more investments to HL</a>
    </div>
    <div class="column large-5 medium-6 small-8 end continue">

      <!--<button type="submit" class="submit" id="application-submit-button"> Continue </button>-->
    </div>
  </div>
</div>
</div>
</form>
